<div id="aboutMe" class="section">
    <div class="container">
        <div id="about-content" [@scrollAnimation]="state">
            <div class="title">
                <h1>About Me</h1>
            </div>
            <div class="paragraph">
                <p>My name is <span class="highlighted">Daniel Wan Jonathan</span>, a Computer Science student at University of Malaya, Malaysia's top institute of higher education, majoring in <span class="highlighted">Software Engineering</span>.</p>
                <br>
                <p>I am from Miri, Sarawak and currently living in <span class="highlighted">Kuala Lumpur</span>.</p>
                <br>
                <p>Equipped with firm knowledge in frontend and backend development, data structures and databases, I aspire to be a <span class="highlighted">fullstack developer</span> after graduation (expected March 2024). I see myself as a team player with an eye for detail.</p>
            </div>
        </div>
    </div>
</div>
