<div id="project" class="section">
    <div class="container" [@scrollAnimation]="state" #div>
        <div id="project-content">
            <div class="title">
                <h1>Things I've Built</h1>
            </div>

            <div>
                <ul class="list-unstyled">
                    <li class="project-item">
                        <div class="project-desc">
                            <h3>Objetivo</h3>
                            <p>A web application to help users to set personal goals, manage and keep track of the progress of their goals. Part of my university project, developed together with other 6 peers.</p>
                            <div>
                                <span class="badge bg-secondary">Laravel</span>
                                <span class="badge bg-secondary">Bootstrap</span>
                                <span class="badge bg-secondary">PHP</span>
                                <span class="badge bg-secondary">JavaScript</span>
                                <span class="badge bg-secondary">CSS</span>
                            </div>
                        </div>
                        <div class="project-img">
                            <div style="max-width: 700px; display: block;">
                                <a href="https://github.com/KeluhingBavui/Objetivo" target="_blank">
                                    <img src="assets/img/objetivo.jpg" alt="..." style="max-width: 100%; display: block; position: static; border-radius: 10px;">
                                </a>
                            </div>
                        </div>
                    </li>
                    <br>
                    <li class="project-item">
                        <div class="project-img">
                            <div style="max-width: 700px; display: block;">
                                <a href="https://github.com/KeluhingBavui/drone-face-recognition" target="_blank">
                                    <img src="assets/img/drone.jpg" alt="..." style="max-width: 100%; display: block; position: static; border-radius: 10px;">
                                </a>
                            </div>
                        </div>
                        <div class="project-desc">
                            <h3>Face Tracking Drone</h3>
                            <p>Simple implementation of face recognition on Tello's drone camera based on HAAR Cascade using Python and openCV.</p>
                            <div>
                                <span class="badge bg-secondary">Python</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>