<div id="contact" class="section">
    <div class="container">
        <div id="contact-content" [@scrollAnimation]="state">
            <div class="title">
                <h1>Contact Me</h1>
            </div>
    
            <div class="paragraph">
                <p>Feel free to email me if you are interested in my work or want to make connections!</p>
            </div>
    
            <div class="icon-container">
                <a href="mailto:daniel01.jonathan@gmail.com">
                    <fa-icon [icon]="faEnvelope" size="8x" class="icon"></fa-icon>
                </a>
            </div>

            <div>
                <h3 style="display: flex; justify-content: center;">Come and say hello!</h3>
            </div>
        </div>
    </div>
</div>