.title {
    display: flex;
    justify-content: center;
}

.paragraph {
    text-align: center;
}

.icon-container {
    display: flex;
    justify-content: center;
}

.icon {
    color: #FFFFFF;
}

.icon:hover {
    color: #2E8BC0;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}