<nav id="nav" class="navbar sticky-top">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#aboutMe">About Me</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#workExperience">Work Experience</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#project">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
        </li>
    </ul>
</nav>

<div data-bs-spy="scroll" data-bs-target="nav" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">
    <home></home>
    <about-me></about-me>
    <skills></skills>
    <work-experience></work-experience>
    <projects></projects>
    <contact></contact>
    <router-outlet></router-outlet>
</div>