<div id="workExperience" class="section">
    <div class="container" [@scrollAnimation]="state">
        <div id="work-content" [@scrollAnimation]="state">
            <div class="title">
                <h1>Work Experience</h1>
            </div>
            <div class="work-list">
                <ul>
                    <li>
                        <div class="work-item">
                            <div>
                                <img class="dell-img" src="assets/img/dell.png" alt="..." >
                            </div>
                            <div class="work-desc">
                                <div class="work-title">
                                    <h2>Dell Technologies</h2>
                                    <em>(1 Aug 2022 - 31 Jan 2023)</em>
                                </div>
                                <h4>Software Engineer Intern</h4>
                                <ul>
                                    <li>
                                        <p>Design and develop from scratch a <span class="highlighted">frontend</span> web application using <span class="highlighted">Angular</span> which serves to provide centralized inventory management system to ensure smooth inventory checks at multiple Dell facilities.</p>
                                    </li>
                                    <li>
                                        <p>Design and develop a <span class="highlighted">full stack</span> Identity Access Management system for an existing web portal to ensure scalability of role management in the portal using <span class="highlighted">Angular and Java Spring Boot</span>.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
