.container {
    display: flex;
    align-items: center;
    height: fit-content;
}

.dell-img {
    height: 5rem;
    width: 5rem;
}

.work-item {
    display: inline-flex;
    gap: 1rem;
    align-items: flex-start;
}

.work-desc {
    display: flex;
    flex-direction: column;
}

.work-title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

p {
    font-size: 1.4rem;
}