.box {
    display: flex;
    height: 35rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.intro {
   display: flex;
   flex-direction: column;
}

.icon-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.icon {
    color: #FFFFFF;
}

.icon:hover {
    color: #2E8BC0;
}

.my-image {
    width: 90%;
}

.name-header {
    font-size: 4rem;
}