<div id="home" class="section">
    <div class="container">
        <div class="box">
            <!-- Greetings -->
            <div class="intro" @fade>
                <div>
                    <p style="line-height: 0;">Hey! My name is</p>
                    <h1 class="name-header"><strong>Daniel Wan</strong></h1>
                </div>
                <div>
                    <p>A software engineering student in University of Malaya</p>
                </div>
                <div class="icon-list">
                    <a href="https://www.linkedin.com/in/danielwanjo/" target="_blank">
                        <fa-icon class="icon" [icon]="faLinkedIn" size="xl"></fa-icon>
                    </a>
                    <a href="https://github.com/KeluhingBavui" target="_blank">
                        <fa-icon class="icon" [icon]="faGithub" size="xl"></fa-icon>
                    </a>
                    <a href="mailto:daniel01.jonathan@gmail.com" target="_blank">
                        <fa-icon class="icon" [icon]="faGoogle" size="xl"></fa-icon>
                    </a>
                </div>
            </div>
            <div>
                <img class="my-image" src="assets/img/me.png" alt="..." @fade>
            </div>
        </div>
    </div>
</div>


